@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
@model List<City>

<h2>Города</h2>

@if (Model == null || !Model.Any())
{
    <div>
    <p>Нет данных</p>
    <p>Получено: @Model?.Count</p>
    </div>

}
else
{
    <table>
        @foreach (var city in Model)
        {
            <tr ondblclick="location.href='@Url.Action("Index", "Streets", new { cityId = city.Id })'">
                <td>@city.Name</td>
                <td>Улиц: @city.StreetCount</td>
            </tr>
        }
    </table>
}
