@model List<City>

@{
    ViewData["Title"] = "Home";
}

<table class="table">
    <thead>
    <tr>
        <th>Город</th>
        <th>Улиц</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var city in Model)
    {
        <tr ondblclick="location.href='@Url.Action("Streets", "Cities", new { id = city.Id })'">
            <td>@city.Name</td>
            <td>@city.StreetCount</td>
        </tr>
    }
    </tbody>
</table>
