@model List<Street>

<h2>Улицы</h2>

<table>
    @foreach (var street in Model)
    {
        <tr ondblclick="location.href='@Url.Action("Index", "Houses", new { cityId = street.Id })'">
            <td>@street.Name</td>
            <td>Улиц: @street.HouseCount</td>
        </tr>
    }
</table>
